.card-service {
    width: 80%;
    text-align: center;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none!important;

}


.card-body-service {
    padding: 2rem 3rem;
    position: absolute;
    background-color: rgb(252, 252, 252);
    width: 80%;
    height: auto;
    border-radius: 3px;
    transition: box-shadow 0.5s ease-in;
    box-shadow: 12px 11px 72px -9px rgba(36, 29, 23, 0.75);
    -webkit-box-shadow: 12px 11px 72px -9px rgba(36, 29, 23, 0.75);
    -moz-box-shadow: 12px 11px 72px -9px rgba(36, 29, 23, 0.75);
    top: 80%;
   
}

@media(max-width:768px){
    .card-service{
        width: 100%;
        margin: 10px;
    }
    .card-body{
        padding: 1rem 2rem;
    }
}