
.first-background {
    background-image: linear-gradient(to right top, #f3ebe1, #ebe0d3, #e4d5c6, #dccab9, #d5bfac, #c5af9d, #b6a08f, #a79181, #8c7b6e, #73655b, #5a5049, #423c38);
    max-height: 50vh;
    min-height: 50vh;
}

.container-card-services{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-row {
    padding-bottom: 20rem;
    padding-top: 5rem;
}
.final-row{
    min-height: 100vh;
    padding: 5rem 0;
    
}
.container-description-services {
    display: flex;
    position: absolute;
    top: 35%;
    flex-direction: column;
    border-radius: 1px;
    text-align: justify;
    max-width: 75%;
    background-color: #736357;
    height: auto;
    min-height: 25rem;
    padding: 3rem 4rem;
    align-items: center;
}

.container-description-services div {
    width: 80%;
    position: absolute;
    height: auto;
    padding: 2rem 3rem;
    min-height: 160px;
    background-color: #CBB09B;
    top: 80%; 
}

.container-description-services div h2{
    text-align: center; 
}

.second-card{
    margin-bottom:7rem;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    .second-row {
/*         min-height: 100vh;
 */    }
}

@media screen and (max-width: 991px) {
    .second-row{
        padding-bottom: 15rem;
    }

    .Col {
        margin: 0;
    }

    .container-description-services {
        max-width: 95%;
        min-height: 25rem;
        height: auto;
        padding: 2rem 2rem;
        display: none;
    }

    .container-description-services div {
        width: 90%;
        padding: 2rem 2rem;
        min-height: 150px;
        background-color: rgb(158, 145, 137);
        top: 95%;
        display: none;
    }

    .row-elements {
        position: relative;
    }

    .container-card-services {
        margin-top: 2rem !important;
        flex-direction: column !important;
        justify-content: center;
        gap: 15rem;
    }

    .title-service{
        text-align: center;
        font-size: 4rem!important;
    }
}

@media(max-width: 768px){
    .second-card{
        margin-bottom: 0rem!important;
    }
    .final-row p{
        width: 100%!important;
        padding: 0;
    }
    .final-row .col-intro{
        padding: 3rem;
    }
}
