.container-card-experience{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-card-experience img{
    width: auto;
    height: 100%;

}
.card-experience{
    top: 8%;
    left: -60%;
    height: 540px;
    width: 540px;
    position: absolute;
    z-index: 98;
    padding: 90px 80px 80px 80px;
    background-color: #CBB09B;
}

@media(max-width: 768px){
    .container-card-experience img{
        width: 100%;   
    }
    .card-experience{
       /*  position:static;
        min-height: auto;
        margin-bottom:2rem; */
        left: 20px;
        top: 80%;
        width: 90%;
        height: auto;
        max-height: 230px;
        padding: 50px 40px 40px 40px;

    }
}
