@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'footer';

/* sass --watch _main.scss output.css */

// Stili globali
body {
/*     font-family: $font-primary;
 */    line-height: 1.6;
    background-color: $color-eggWhite;
}

p {
    font-family: 'PPNEUEMONTREAL-THIN', sans-serif;
  font-weight: 700;
  font-style: normal; 
    margin: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
/*     font-family: 'PPEditorialNew-Regular', sans-serif; 
    letter-spacing: 32px; */ 
    font-family: 'Salty-Feathers-Demo' , sans-serif;
    font-weight: 500;
    font-style: italic;
    margin: 0;
}

.white{
    color: $color-white!important;
}
a {
    color: $color-espresso;
    text-decoration: none;
    font-family: 'PPEditorialNew-Regular', sans-serif; 
    transition: color 0.3s ease;
}

a:hover {
    color: $color-blueberry;
}

// Classi di animazione
.slide-from-left {
    @include slide-in-from-left;
}

.slide-from-right {
    @include slide-in-from-right;
}

.fade-in {
    @include fade-in;
}

.scale-up {
    @include scale-up;
}

// Classi utilità

.cursor-pointer{
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    background-color: $color-amaretto;
    color: $color-dark;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.slide-from-left {
        @extend .slide-from-left;
    }

    &:hover {
        background-color: $color-blueberry;
        color: $color-eggWhite;
    }
}

.small-title {
    font-size: $text-small-title;
}

.medium-title {
    font-size: $text-medium-title;

}

.big-title {
    font-size: $text-large-title;

}

.very-big-title {
    font-size: $text-extra-large-title;

}

.small-p {
    font-size: $text-small-p
}

.medium-p {
    font-size: $text-medium-p
}

.big-p {
    font-size: $text-large-p
}

.very-big-p {
    font-size: $text-extra-large-p;
}