.navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 70%;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    color: $color-white;
    min-height: 70px;
    transition: background-color 1s ease;
    z-index: 99;

    .container-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}

.navbar p {
    cursor: pointer;
}

.scrolled {
    background-color: #423c3884;
    color: $color-white;
    backdrop-filter: blur(3px);
}

@media(max-width:768px) {
    .navbar{
        gap: 60%;
    }
    .scrolled {
        height: auto;
        min-height: auto;
    }
}