.container-concept-creation{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
}
.container-concept-creation h2{
    text-align: center;
    
}

@media(max-width:768px) {
    .container-concept-creation h2{
        margin: 6rem 0;
        font-size: 2.8rem;
    }
    .container-concept-creation{
        padding-bottom: 0;
    }
  }