.landing-section {
    background-image: url(../../../Layout/Assets/UtilsImages/background3.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
@media screen and (max-width: 668px) {
    .landing-section {
       min-height: 120vh;
        
    }
}
 